[submodule "github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus.git
[submodule "github.com/syndtr/goleveldb"]
	path = vendor/github.com/syndtr/goleveldb
	url = https://github.com/syndtr/goleveldb.git
[submodule "github.com/peterh/liner"]
	path = vendor/github.com/peterh/liner
	url = https://github.com/peterh/liner.git
[submodule "github.com/golang/snappy"]
	path = vendor/github.com/golang/snappy
	url = https://github.com/golang/snappy.git
[submodule "github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "github.com/kezhuw/guard"]
	path = vendor/github.com/kezhuw/guard
	url = https://github.com/kezhuw/guard.git
[submodule "github.com/kezhuw/neterrs"]
	path = vendor/github.com/kezhuw/neterrs
	url = https://github.com/kezhuw/neterrs.git
[submodule "github.com/kezhuw/toml"]
	path = vendor/github.com/kezhuw/toml
	url = https://github.com/kezhuw/toml.git
[submodule "github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo.git
[submodule "github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega.git
